.servers {
    width: 20%;
}

.servers-ol {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 30px auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
    background-color: #2e4272;
    border-radius: 15px;
}

.server {
    height: 25px;
    display: flex;
}

.server-name {
    margin: auto;
    color: #9EA3A8;
    font-size: 16px;
}

.add-server-button {
    display: flex;
}

.add-server-button-button {
    margin: auto;
}

.add-server {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: center;
    background-color: #2e4272;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
}

.add-server-title {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-server-title-txt {
    font-size: 18px;
    color: #9EA3A8;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-server-content {
    width: 100%;
}

.add-server-host,
.add-server-auth,
.add-server-port,
.add-server-name {
    margin-top: 10px;
}

.add-server-host-txt,
.add-server-auth-txt,
.add-server-port-txt,
.add-server-name-txt {
    font-size: 16px;
    color: #9EA3A8;
    width: 50px;
    display: inline-block;
}

.add-server-host-input,
.add-server-auth-input,
.add-server-port-input,
.add-server-name-input {
    display: inline-block;
}

.add-server-host-input-input,
.add-server-auth-input-input,
.add-server-port-input-input,
.add-server-name-input-input {
    width: 210px;
}

.add-server-footer {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.add-server-footer-add-button,
.add-server-footer-test-button,
.add-server-footer-clear-button,
.add-server-button-button {
    font-size: 13px !important;
    line-height: 18px !important;
    padding: 3px 10px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #061539;
    color: #9EA3A8;
    background-color: #061539;
    cursor: pointer;
    outline: none;
}

.add-server-footer-add-button:active,
.add-server-footer-test-button:active,
.add-server-footer-clear-button:active,
.add-server-button-button:active {
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

.server-slide-enter-active {
    transition: all .3s ease;
}

.server-slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.server-slide-enter,
.server-slide-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.add-server-close{
    font-size: 20px;
    font-weight: 900;
    cursor: default;
}