.add{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #304473;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    box-sizing: border-box;
}

.title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 10px;
}

.body{
    margin-right: 10px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    align-items: center;
}

.label{
    width: 25%;
    text-align: left;
}

.label span{
    font-size: 16px;
    color: #9ca4b6;
}

.input{
    width: 75%;
}

.footer{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.reset{
    width: 60px;
}

.test{
    width: 60px;
    margin-left: 20px;
}

.submit{
    width: 60px;
    margin-left: 20px;
}

.gap{
    margin-top: 15px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #031234;
}

.gap span{
    FONT-WEIGHT: 600;
    color: #9ca4b6;
    font-size: 15px;
}

.body-tsl,.body-ssh{
    margin-right: 10px;
    margin-left: 10px;
}