.header {
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    background-color: #020c24;
    box-shadow: 0 0 10px #000;
    position: relative;
    height: 25px;
    justify-content: flex-end;
    z-index: 2;
}

.min,.max,.close{
    -webkit-app-region: no-drag;
    border-radius: 10px;
    display: block;
    height: 15px;
    width: 15px;
}

.min{
    background-color: yellow;
    margin-right: 10px;
}

.max{
    background-color: green;
    margin-right: 10px;
}

.close{
    background-color: red;
    margin-right: 5px;
}