.item{
    cursor: default;
    direction: ltr;
    position: relative;
    margin-top: 10px;
}

.list>.item:first-child{
    margin-top: 0px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.op{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
}

.icon img{
    height: 16px;
}

.name{
    color: #9ca4b6;
    font-size: 16px;
}