button{
    font-size: 13px !important;
    padding: 8px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #061539;
    color: #9EA3A8;
    background-color: #061539;
    cursor: pointer;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}