input[type=checkbox]{
    cursor: pointer;
    position: relative;
}

input[type=checkbox]::after{
    position: absolute;
    top: 0;
    background-color: #5d6e93;
    color: #000;
    width: 15px;
    height: 15px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 3px
}
       
input[type=checkbox]:checked::after{
    content: "✓";
    font-size: 12px;
    font-weight: bold;
    color: #9ca4b6;
}