.db {
    background-color: #2e4272;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 130px;
    position: absolute;
}

.list{
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #192955;
}

.keys {}

.keys_ol {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 200px;
    overflow: auto;
}

.keys_ol::-webkit-scrollbar {
    width: 0;
}

.keys_ol li {
    text-align: center;
    color: #9EA3A8;
    word-break: break-all;
}

.btn {}

.btn input,
.reload button,
.copy button,
.del button,
.save button {
    font-size: 13px !important;
    padding: 8px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #061539;
    color: #9EA3A8;
    background-color: #061539;
    cursor: pointer;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/************************************/
.right {
    margin-left: 140px;
    min-height: 300px;
    width: 100%;
}

.top {
    width: 100%;
}

.attr {
    display: flex;
}

.type,.ttl {
    padding: 8px;
    background-color: #192955;
    margin-right: 8px;
}

.type span,.ttl span{
    color: #9EA3A8;
}

.ttl {}

.op {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vas,.reload,.copy,.del,.save {
    margin-right: 8px;
}

.vas select{
    background-color: #061539;
    line-height: 18px;
    color: #9EA3A8;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 3px;
}

.reload {}

.copy {}

.del {}

.save {}

/**************************/
.view{
    word-break: break-all;
    color: #9EA3A8;
    background-color: #192955;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}