.db{
    background-color: #2e4272;
    padding: 15px;
}
.left{
    width: 20%;
    /* box-shadow: 0px 0px 5px #000; */
    border-radius: 5px;
    /* border: 1px dashed black; */
    padding: 5px;
    box-sizing: border-box;
    background-color: #192955;
}
.keys{}
.keys_ol{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.keys_ol::-webkit-scrollbar{
    width: 0;
}

.keys_ol li{
    text-align: center;
    color: #9EA3A8;
    word-break: break-all;
}
.btn{}
.btn input{
    font-size: 13px !important;
    line-height: 18px !important;
    padding: 3px 10px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #061539;
    color: #9EA3A8;
    background-color: #061539;
    cursor: pointer;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.right{
    width: 80%;
}