.error,.notice,.success{
    position: fixed;
    display: flex;
    background-color: #2e4272;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    width: 400px;
    padding: 20px 60px;
    box-sizing: border-box;
}
.msg-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.msg{
    color: #9EA3A8;
    font-size: 16px;
    word-break: break-all;
    padding-right: 20px;
}
.icon{
    width: 60px;
}
.btn-div{
    margin-top: 20px;
}
.btn{
    font-size: 13px !important;
    line-height: 18px !important;
    padding: 3px 10px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #061539;
    color: #9EA3A8;
    background-color: #061539;
    cursor: pointer;
    outline: none;
}